* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.container {
text-align: center;
background: #00BDC9;
padding: 100px 0;
margin-bottom: 88px;
}

.header_menu {
    width: 635px;
    padding: 32px 0;
    margin: 0 auto;
}

.header_menu__item {
    display: inline-block;
    margin-right: 72px;
}

.no-margin {
    margin-right: 0;
}


a {
    text-decoration: none;
     font-size: 18px;
     font-weight: 400;
     line-height: 24.px;
     color: #000000;
     
}

.content-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    margin-bottom: 40px;
}

.content-text {
font-size:21px;
font-weight: 500;
line-height: 32px;
margin-inline: 272px;
margin-bottom: 24px;

}

.colortext {
font-size: 21px;
font-weight: 600;
line-height: 31.5px;
text-align: left;
color:#04959E;
}

.list {
    font-size: 18px;
    line-height: 27px;
    margin-inline: 272px;
    margin-bottom: 40px;
    color:#161616;
    ;
      
}

.button {
width: 145px;
height: 44px;
padding: 10px 24px 10px 24px;
background:  #04959E;
margin: 0px 617px 98px;
color: #FFFFFF;
border: none;


}

.footer_text {
margin: 17px 627px;
width: max-content;
color: #161616;
font-size: 18px;
line-height: 27px;

}

footer {
    border-top: 2px solid  #161616;
}









